<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="styles.css">
    <title>Jokes</title>
</head>
<body>
<div class="add-joke-form">
    <label for="joke-setup">Setup</label><input id="joke-setup" type="text">
    <br>
        <br>
    <label for="joke-punchline">Punchline</label><input id="joke-punchline" type="text">
    <br>
            <br>
    <input type="submit" value="opret">
</div>

<h2>Egen Joke Service</h2>
<ul class="our-jokes">
    {{#each jokes}}
        <p><b>Setup:</b> {{ this.setup }}</p>
        <p><b>Punchline:</b> {{ this.punchline }}</p>
    {{/each}}
</ul>

<h2>Eksterne Joke Services</h2>
<div class="joke-wrapper">

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>