input[type=submit]{
    background-color: green;
    width: 100%;

font-size: 20px;
    padding: 5px 0px;
}

.add-joke-form{
    border: 1px solid green;
width: 500px;
}

.add-joke-form input[type="text"]{
    float: right;
   width: 400px;

}

h3{
   generic-family: Sans-serif;
    font-family: "Arial", serif;
    text-decoration: underline;

}

p{
    text-indent: 20px;
}

body {
    background-color: gainsboro;
}


